.eachTable {
    position: relative;
    background-color: #FFFFFF;
    height: auto;
    padding: 16px 8px;
    overflow-x: auto;
}

#eachTableName {
    padding: 8px;
}

table{
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;
}